#main {
    display: flex;
    flex-wrap: wrap;
    background-color:beige;
    grid-area: main;
}

#each-film {
    padding: 15px;
    text-decoration: none;
}

#each-film > li {
    list-style: none;
    padding: 10px;
}

#each-film > li:hover {
    color:slateblue;
    font-size: large;
}

#watch-list {
    margin-top: 15px;
    padding: 10px;
    background-color: cadetblue;
    grid-area: watch-list;
}

#seen-list {
    background-color: hotpink;
    grid-area: seen-list;
}

#film-detail {
    margin-top: 15px;
    padding: 10px;
    background-color: khaki;
    grid-area: film-detail;
}

#container-grid {
    display: grid;
    grid-template-areas:
        'main main main'
        'watch-list seen-list film-detail';
    grid-template-rows: 3fr 3fr 3fr;
    
}